<div class="container">
	<h1>{{textdisplay}} Customer</h1>
	<p>Customer ID</p>
	<input [(ngModel)]="customerid" type="number" class="form-control">

	<p>Name</p>
	<input [(ngModel)]="name" type="text" class="form-control">

	<p>Contact No</p>
	<input [(ngModel)]="contactno" type="number" class="form-control">

	<p>Address1</p>
	<input [(ngModel)]="add1" type="text" class="form-control">

	<p>Address2</p>
	<input [(ngModel)]="add2" type="text" class="form-control">

	<p>PinCode</p>
	<input [(ngModel)]="pincode" type="number" class="form-control">
	

	<Button (click)="addCustomer()" class="btn btn-primary">Submit</Button>
</div>