<a routerLink="/NewCustomer" class="btn btn-primary">New Customer</a>
<table class="table">
    <tr>
        <th>CustomerId</th>
        <th>Name</th> 
        <th>ContactNo</th>
        <th>Active</th>
    </tr>
    <tr *ngFor="let customer of customerList;">
        <td>{{customer.customerid}}</td>
        <td><a [routerLink]="['/Customer', customer.customerid]" >{{customer.name}}</a></td>
        <td>{{customer.contactno}}</td>
        <td>{{customer.active}}</td>
    </tr>
  </table> 