<div class="container" >
  <div class="title">
      Welcome
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="input-field col s12">
              <label for="uid">User ID</label>
              <input [(ngModel)]="uid" id="uid" 
              type="text" class="validate" class="form-control">
              
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
              <label for="pwd">Password</label>
              <input [(ngModel)]="pwd" id="pwd" 
                  type="password" class="validate" class="form-control">              
          </div>
      </div>

      <span>{{errorMsg}}</span>
      <button (click)="login()" 
      class="btn btn-primary" 
          type="submit" name="action">Login</button>
  </div>
</div>
